  body {
    background-color: silver;
    min-height: 100vh;
  }
#headFig {
  justify-content: left;
  display: contents;
}
  #headshot {
    display: inline-block;
    justify-content: left;
  }
  .navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /* stay on top */
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* Disable horizontal Scroll */
    padding-top: 60px;
    transition: 0.5s;
  }
  .navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .navbar a:hover {
    color: #f1f1f1;
  }
  .navbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .navbar ul {
  height: 88%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
}
.navbar li {
  border-top: black 1px solid;
  width: 100%;
  font-size: 1.4rem;
  padding: 5px;
  margin: 5px;
}
  .main-body {
    margin-left: 100px;
    padding: 20px;
    transition: margin-left .5s;
  }
@media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
  .navbar a {font-size: 18px;}
}
  p {
    color: black;
  }

  h1 {
    font-family: Lobster, monospace;
    text-align: center;
  }
.intro {
  margin: 10px;
}
.education {
  margin: 10px;
}
.works {
  margin: 10px;
}
.works-parent {
  display: flex;
  height: 300px;
}
.works-child {
  height: 50px;
  width: 50px;
  margin: auto;
}
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 5vh;
    padding: 0 2rem;
    margin: 5px;
  }